*{
    font-family: 'League Spartan';
    font-size: 110%;
}
html{
    scroll-behavior: smooth;
}
body {margin: 0;}
h1{
    font-size: clamp(2rem, 3vw, 4rem);
    margin-top: 5%;
}
.headtitle {
    margin-left: 3%;

}
.content-project{
    margin-left: 3%;
}
.content-caption{

    font-size: 30px;
    line-height: 40px;
    margin-left: 2%;
}
h2{
    font-size: clamp(2rem, 2vw, 3rem);
    margin-top: 3%;
}
a {
    color: inherit;  
    text-decoration: none;
    transition: opacity 0.3s ease;
}

a:hover {
    font-size: 110%; 
    text-decoration: underline;
}


.subfolder {
    overflow:visible;
    margin-bottom: 10%;
    font-size: 30px;
    line-height: 45px;

    margin-top: 1%;
    margin-left: min(5%,20px); 

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.8fr 0.2fr;
    grid-template-areas:
      "top-left top-right"
      "bottom-left top-right";
}


  #left-top {
    grid-area: top-left;
    /* padding-top: 5%; */
    line-height: 150%;
    margin-top: 0;
  }

  #left-bottom {
    grid-area: bottom-left;
    margin-inline: 25%;
    align-self: center;
    padding-block: 1%;

}

  #right {
    grid-area: top-right;
    margin-left: 5%;
  }

  @media screen and (max-width: 1300px) {
    .subfolder {
        grid-template-columns: 1fr; /* 单列布局 */
        grid-template-rows: 1fr; /* 自适应行高 */
        grid-template-areas:
            "top-left"
            "top-right"
            "bottom-left";

        margin-left: 2%;
        margin-right: 2%;
    }

    #left-bottom {
        margin-inline: 25%  ;
    align-self: center;

    }
}

.content1,.content2{
    font-size: 30px;
    line-height: 45px;
    display: flex;
    margin-top: min(3%,20px);
    margin-left: min(5%,20px);
}
@media screen and (max-width: 1200px) {
    .content1,.content2 {
      flex-direction: column; /* 在小屏幕上切换为纵向布局 */
      align-items: center; /* 在纵向布局中居中对齐 */
    }
  }
.project-pic{
    width: 80%;
    height: auto;
}

.img-ill {  
    flex: 1;
    margin-left: 10%;
}
.campus-ill{
    
    border-radius: 50%;
    overflow: visible; 
}
.intro-ill{
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 5%;

}
.btn {
    display: inline-block;
    
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #808080;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    transition: opacity 0.3s ease;
}
.other-btn{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #808080;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    transition: opacity 0.3s ease;
    padding-inline: 5%;
    padding-block: 1%;
    align-self: center;
}
.btn:hover, .other-btn:hover{
    opacity: 70%;
    text-decoration: none;

}

.links-section img{
    height: 20px;
    margin: auto;
}

.footers {
    background-color: #333;
    color: #b5b3b3;
    text-align: left;
    display: flex;
    margin-bottom: 0;
    padding-left: 3%;
    font-size: medium;
    margin-top: 10px;
    padding-top: 2%;
}
@media screen and (max-width: 1200px) {
.footers{
    display: none;
}
  }

  .about-me-section {
    flex: 1; 
    margin-right: 10%; 
    line-height: 25px;
}

  .links-section {
    flex: 1;  
    display: flex;
    align-items:baseline;


  }
  .links-section .sect-links,.links-section .sect-contacts{
    flex: 1;
  }

  .links-section .sect-contacts img{
    vertical-align:top;
    margin-right: 2%;

  }

.urls{
color: #0366d6;
font-weight: bold;
}

.horizontal-container  {
display: flex;
width: 1000px;
height: 400px
}
.horizontal-container:hover {
height: 800px; /* Expanded width on hover, adjust as needed */
}
.selection-header{
    padding-top: min(1%,40px);
    font-size:max(20px,50%);
}

nav ul{

    list-style-type: none; 
    text-align: center;
    display: flex;
    background-color: #ffffff;
}
nav li{
    margin-left: 10%;
    color: #0b0b0b;
    font-size: larger;
    padding-right: max(10,5%);
    font-weight: bolder;
}
