.mesh {
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5px;
    fill: none;
}

.stateMesh{
    stroke: #5A5A5A;
    stroke-width: 3px;
    fill: none;
}

#tag {
    color: black;
}

.belltower_locate{
    background-color: white;
    font-weight: bolder;
    position: relative;
    z-index: 1;

}